<form action="/changepass" method="POST">
<div class = "container">
    <div class = "password1">
    Password:<input type="password" name="password">
    <span>{{error.password}}</span><br> 
    </div>
    <div class = "password2">
    Renter the Password:<input type="password" name="password2" >
        <span>{{error.password2}}</span><br> 
    </div>
    <span>{{error.password12}}</span><br>
<button type="submit">SUBMIT</button>
</div>
</form>


<a href="/login">CANCEL</a>


