<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<h1 style="text-align: center;">WELCONE TO BLOGIT</h1>
<h3 style="text-align: center;">Forget Password</h3>
  <style type="text/css">
  body {
        background: linear-gradient(to right, #de6262, #ffb88c);
    }
  </style>
  <div class="d-flex justify-content-center">
<div class="form-group">
    <form action="/forget" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" placeholder="email" name="email"  value={{email}}>
    <span>{{error.email}}</span><br> 
    <label for="pet">PetName</label>
    <input type="text" id="pet" class="form-control" placeholder="Enter pet the name"  name="question" >
    <span>{{error.question}}</span><br> 
    <div class="form-group row">
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </div>
    </div>
</form>
</div>
<br>

 <div class="d-flex justify-content-center">
<a class="btn btn-primary" href="/signup">SIGNUP</a>
 </div>
 <br>
<div class="d-flex justify-content-center">
<a href="/login" class="btn btn-primary">LOGIN</a>
</div>
 