<link rel="stylesheet" href="./style1.css">
<form action="/login" method="POST">
<div class = "container">
<div class = "email">
    Email:<input type="text" name="email" value={{email}}>
    <span>{{error.email}}</span><br> 
</div>
<div class = "password">
    Password:<input type="password" name="password" >
    <span>{{error.password}}</span><br> 
</div>
<div class="button">
    <button type="submit">SUBMIT</button>
</div>
</div>
</form>

<a href="/signup">SIGNUP</a>


<a href="/forget">FORGET PASSWORD</a>