<form action="/updateprofilpic?id={{id}}" method="POST" enctype="multipart/form-data">
<div class="image">
    Image:<input type="file" name="image">
</div>
<button type="submit">SUBMIT</button>
</form>
<a href="/profile">CANCEL</a>