<form action="/updatephoto?id={{id}}&blogid={{blogid}}" method="post" enctype="multipart/form-data">
<div class="image">
    IMAGE:<input type="file" name="image">
</div>
<button type="submit">SUBMIT</button>
</form>

<a href="/allBlogs">CANCEL</a>